<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cohen.wechat.app.server.dao.TaskDao">
    <sql id="column">
        id,start_time,end_time,is_notice,openid,remark,update_time,delete_flag
    </sql>
    <insert id="create" parameterType="com.cohen.wechat.app.server.entity.Task">
        insert into `task`(<include refid="column" /> ) values(#{task.id},#{task.start},#{task.end},#{task.isNotice},#{task.openid},#{task.remark},#{task.updateTime},#{task.deleteFlag})
    </insert>
    <select id="select" resultType="com.cohen.wechat.app.server.entity.Task">
        select * from `task`
    </select>
</mapper>